

---
Savitribai Phule Pune University   
Second Year of Computer Engineering (2019 Course) 210246:

# **Data Structures Laboratory**
---

> ### **GROUP-A**

**Problem Statement:-**

In second year computer engineering class, group A studentâ€™s play cricket, group B 
students play badminton and group C students play football. 
Write a Python program using functions to compute following: -

a) List of students who play both cricket and badminton 

b) List of students who play either cricket or badminton but not both 

c) Number of students who play neither cricket nor badminton

d) Number of students who play cricket and football but not badminton.

(Note- While realizing the group, duplicate entries should be avoided, Do not use SET 
built-in functions) 


---

Function to add entries into the list

In [1]:
def Add_name(group_name_list , group_number ):
  for i in range(group_number):
    name = input(f"Enter name of the student {i+1} :-")
    if name not in group_name_list:
      group_name_list.append(name)
  return group_name_list

Define function for intersection of two lists

In [2]:
def intersection(Group_1, Group_2, Intersection_list):
  for i in Group_1:
      if (i in Group_2):
        Intersection_list.append(i)
  return Intersection_list

Define function for union of two lists

In [3]:
def union(Group_1, Group_2, Union_list):
  for i in Group_1:
      Union_list.append(i)

  for j in Group_2:
    if (j not in Group_1):
      Union_list.append(j)  
  return Union_list

Take input form user for students who plays cricket football and badminton

In [5]:
group_A_list = []
group_B_list =[]
group_C_list = []

group_A_number =int(input("Enter no of students who play cricket:-"))
Add_name(group_A_list, group_A_number)
print("List of the students who play cricket:-" ,group_A_list)
print()


group_B_number =int(input("Enter no of students who play badminton:-"))
Add_name(group_B_list, group_B_number)
print("List of the students who play badminton:-" ,group_B_list)
print()

group_C_number =int(input("Enter no of students who play football:-"))
Add_name(group_C_list, group_C_number)
print("List of the students who play football:-" ,group_C_list)
print()

Enter no of students who play cricket:-5
Enter name of the student 1 :-purva
Enter name of the student 2 :-sahil
Enter name of the student 3 :-amey
Enter name of the student 4 :-shrayank
Enter name of the student 5 :-sneha
List of the students who play cricket:- ['purva', 'sahil', 'amey', 'shrayank', 'sneha']

Enter no of students who play badminton:-3
Enter name of the student 1 :-sahil
Enter name of the student 2 :-madhura
Enter name of the student 3 :-amey
List of the students who play badminton:- ['sahil', 'madhura', 'amey']

Enter no of students who play football:-7
Enter name of the student 1 :-omkar
Enter name of the student 2 :-vijay
Enter name of the student 3 :-purva
Enter name of the student 4 :-amey
Enter name of the student 5 :-shrayank
Enter name of the student 6 :-abhi
Enter name of the student 7 :-manav
List of the students who play football:- ['omkar', 'vijay', 'purva', 'amey', 'shrayank', 'abhi', 'manav']

### Task-1 List of students who play both cricket and badminton

In [6]:
Task_1_list =[]
intersection(group_A_list, group_B_list, Task_1_list)
print("List of students who play both cricket and badminton:-", Task_1_list, )

List of students who play both cricket and badminton:- ['sahil', 'amey']

### Task-2 List of students who play either cricket or badminton but not both

In [7]:
Task_2_list =[]
Union_list =[]
union(group_A_list, group_B_list, Union_list)
for i in Union_list:
  if (i not in Task_1_list):
    Task_2_list.append(i)
print("List of students who play either cricket or badminton but not both:-", Task_2_list)

List of students who play either cricket or badminton but not both:- ['purva', 'shrayank', 'sneha', 'madhura']

### Task-3 Number of students who play neither cricket nor badminton

In [8]:
Task_3_list =[]
for i in group_C_list:
  if (i not in group_A_list) and (i not in group_B_list):
    Task_3_list.append(i)
print("Number of students who play neither cricket nor badminton:-",Task_3_list)

Number of students who play neither cricket nor badminton:- ['omkar', 'vijay', 'abhi', 'manav']

### Task-4 Number of students who play cricket and football but not badminton.

In [9]:
Task_4_list=[]
intersec_C_F =[]
intersection(group_A_list, group_C_list , intersec_C_F)
for i in intersec_C_F:
  if i not in group_B_list:
    Task_4_list.append(i)
print('Number of students who play cricket and football but not badminton:-',Task_4_list)

Number of students who play cricket and football but not badminton:- ['purva', 'shrayank']