

---
Savitribai Phule Pune University   
Second Year of Computer Engineering (2019 Course) 210246:

# **Data Structures Laboratory**
---

> ### **GROUP-A**

**Problem Statement:-**

Write a Python program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: 

D 100 W 200 (Withdrawal is not allowed if balance is going negative. 

Write functions for withdraw and deposit) D means deposit while W means withdrawal.

Suppose the following input is supplied to the program: 

D 300, D 300 , W 200, D 100 Then, the output should be: 500

---

#### Define function to take input from user

In [13]:
print("Transaction log should be in the format 'D 100 W 200' where D is deposite and W is withdrwal with amount ")
trans_log = input("Enter the transaction log ")
trans_list = trans_log.split()

Transaction log should be in the format 'D 100 W 200' where D is deposite and W is withdrwal with amount
Enter the transaction log D 300 D 300  W 200 D 100

In [14]:
Net_amount=0
for i in range(len(trans_list)):
  if trans_list[i] == "D":
    Net_amount = Net_amount + int(trans_list[i+1])
  elif trans_list[i] == "W":
    Net_amount = Net_amount - int(trans_list[i+1])
    if Net_amount < 0:
      print("Withdrawl is not allowed")
      break

if Net_amount > 0:
  print("Net amount of a bank account based a transaction log:-", Net_amount )

Net amount of a bank account based a transaction log:- 500