

---
Savitribai Phule Pune University   
Second Year of Computer Engineering (2019 Course) 210246:

# **Data Structures Laboratory**
---

> ### **GROUP-A**

**Problem Statement:-**

Write a Python program for department library which has N books, write functions for following:

a) Delete the duplicate entries

b) Display books in ascending order based on cost of books

c) Count number of books with cost more than 500. 

d) Copy books in a new list which has cost less than 500.


---

#### Define function to take input from user

In [8]:
def Add_cost(num, cost_list):
  for i in range(num):  
    id  = input(f"Enter Book_id for book {i+1}:-")
    cost = int(input(f"Enter cost for book with id-{id} :-"))
    cost_list.append([id,cost])
  return cost_list


num =int(input("Enter Number of books in department library:-"))
cost_list = []
Add_cost(num, cost_list)
print("List of books in department library :- ", cost_list)

Enter Number of books in department library:-10
Enter Book_id for book 1:-AP123
Enter cost for book with id-AP123 :-200
Enter Book_id for book 2:-ES23
Enter cost for book with id-ES23 :-800
Enter Book_id for book 3:-AS12
Enter cost for book with id-AS12 :-600
Enter Book_id for book 4:-ES23
Enter cost for book with id-ES23 :-800
Enter Book_id for book 5:-FDR56
Enter cost for book with id-FDR56 :-890
Enter Book_id for book 6:-THY44
Enter cost for book with id-THY44 :-250
Enter Book_id for book 7:-SY12
Enter cost for book with id-SY12 :-250
Enter Book_id for book 8:-YG99
Enter cost for book with id-YG99 :-340
Enter Book_id for book 9:-TD4
Enter cost for book with id-TD4 :-600
Enter Book_id for book 10:-TD4
Enter cost for book with id-TD4 :-600
List of books in department library :-  [['AP123', 200], ['ES23', 800], ['AS12', 600], ['ES23', 800], ['FDR56', 890], ['THY44', 250], ['SY12', 250], ['YG99', 340], ['TD4', 600], ['TD4', 600]]

### Task-1 Delete the duplicate entries

In [9]:
Task_1_list =[]
for book in cost_list: 
  if book not in Task_1_list:
    Task_1_list.append(book)
print("List of books without duplicate entries", Task_1_list)
print()

List of books without duplicate entries [['AP123', 200], ['ES23', 800], ['AS12', 600], ['FDR56', 890], ['THY44', 250], ['SY12', 250], ['YG99', 340], ['TD4', 600]]

### Task-2 Display books in ascending order based on cost of books

In [10]:
Task_2_list = sorted(Task_1_list, key=lambda x:x[1])
print("List of books in ascending order based on cost of books :-", Task_2_list)
print()

List of books in ascending order based on cost of books :- [['AP123', 200], ['THY44', 250], ['SY12', 250], ['YG99', 340], ['AS12', 600], ['TD4', 600], ['ES23', 800], ['FDR56', 890]]

### Task-3 Count number of books with cost more than 500. 
### Task-4 Copy books in a new list which has cost less than 500.

In [11]:

count=0
Task_4_list =[]
for book in Task_1_list:
  if book[1] > 500:
    count += 1
  else:
    Task_4_list.append(book)

print("Number of books with cost more than 500:-", count)
print()
print("New list of books which has cost less than 500:-",Task_4_list)

Number of books with cost more than 500:- 4

New list of books which has cost less than 500:- [['AP123', 200], ['THY44', 250], ['SY12', 250], ['YG99', 340]]